<form class="mt-4" method="POST" action="/course/edit">
    <div class="mb-3">
        <label for="name" class="form-label">name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="mb-3">
        <label for="video" class="form-label">id video</label>
        <input type="text" class="form-control" id="video" name="video">
    </div>
    <button type="submit" class="btn btn-primary">create</button>
</form>